@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

.login {
  width: 580px;
  padding: 56px 112px;
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: #000000;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 2.75rem;
}

.input {
  outline: none;
  /* padding: 0; */
  border: none;
  border-bottom: 2px solid #E4E4E4;
  background: none;
  font-size: 21px;
  color: #000000;
  padding: 6px 0 7px;
}

.input::placeholder {
  color: #828282;
  font-weight: normal;
  font-size: 18px;
}

.form__lbl {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 2px;
}

#email {
  margin-bottom: 25px;
}

#username {
  margin-bottom: 25px;
}

#password {
  margin-bottom: 50px;
}

.form__forget-pass {
  font-weight: normal;
  font-size: 16px;
  color: #828282;
  text-align: right;
  margin-bottom: 46px;
}

.form__submit {
  outline: none;
  border: none;
  background: none;
  font-weight: normal;
  font-size: 25px;
  color: #000000;
  padding: 16px 0;
  /* border-radius: 70px; */
  background-color: #FDBF5A;
  margin-bottom: 32px;
}

.form__submit:hover {
  background-color: #FFA842;
}

.login__new {
  text-align: center;
  color: #828282;
  font-weight: normal;
  font-size: 16px;
}

.login__new-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  color: #FDBF5A;
}